---
layout: base.liquid
permalink: "/"
date: Last Modified
---
<div style="width: 1000px;">
  <div style="margin-bottom: 32px;">
    <input type="text" placeholder="WITCH id" id="witch-id" />
    <button type="button" id="find-witch">FIND</button>
  </div>

  <div style="margin-bottom: 32px;">
    <input type="text" placeholder="ARTIFACT id" id="artifact-id" />
    <button type="button" id="find-artifact">FIND</button>
  </div>

  <div>last updated {{ page.date | formatDate }}</div>
</div>

<script>
(function (window, document) {
  // TODO: some sort of better 404, probably
  const witchBaseUrl = "{{ "/witches/" | url }}"
  const findWitchButton = document.getElementById("find-witch");
  const witchIdField = document.getElementById("witch-id");

  const goToWitch = (id) => window.location.assign(witchBaseUrl + id);
  const goToArtifact = (id) => window.location.assign(artifactBaseUrl + id);

  findWitchButton.addEventListener("click", (_e) => goToWitch(witchIdField.value));
  witchIdField.addEventListener("keydown", (e) => {
    if (e.key === "Enter") { goToWitch(witchIdField.value) }
  });

  const artifactBaseUrl = "{{ "/artifacts/" | url }}"
  const findArtifactButton = document.getElementById("find-artifact");
  const artifactIdField = document.getElementById("artifact-id");

  findArtifactButton.addEventListener("click", (_e) => goToArtifact(artifactIdField.value));
  artifactIdField.addEventListener("keydown", (e) => {
    if (e.key === "Enter") { goToArtifact(artifactIdField.value) }
  });
})(window, document);
</script>
